/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding: 200px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgb(115, 184, 244);
}

/* Component Styles */
.badge {
  background-color: red;
  color: white;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;

  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 200px auto 30px;
  padding: 20px;
  background-color: rgb(95, 176, 252);
}

pre {
  background: #f1f1f1;
  padding: 10px;
  overflow-x: auto;
  border-left: 4px solid crimson;
  border-radius: 8px;
}

code {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 2px 4px;
}

.card {
  background-color: rgb(255, 255, 255);
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 10px;
}

.card.module-1 {
  border-top: 4px solid red;
}

.card.module-2 {
  border-top: 4px solid orange;
}

.card.module-3 {
  border-top: 4px solid yellow;
}

.card.module-4 {
  border-top: 4px solid yellowgreen;
}

.card.module-5 {
  border-top: 4px solid cyan;
}

.card.module-6 {
  border-top: 4px solid violet;
}

.note {
  margin-top: 16px;
  padding: 12px 16px;
  background: rgba(34, 197, 94, 0.08);
  border-left: 4px solid #22c55e;
  border-radius: 8px;
  font-size: 14px;
}

.note::before {
  content: "☠️";
}

/* Group 1 Styles */
.header {
  background-color: rgb(195, 222, 246);
  box-shadow: 5px 5px 15px rgb(94, 240, 250);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-text-link {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-text-link li {
  background-color: rgb(183, 11, 11);
  padding: 13px 20px;
  border-radius: 50%;
}

.btn-text-link li:hover {
  background-color: rgb(234, 2, 2);
  cursor: pointer;
}

/* Group 2 Styles */
.image-small {
  width: 100px;
  height: auto;
}

.position {
  display: flex;
  margin: 20px 0;
}
.position.left {
  justify-content: flex-start;
}
.position.center {
  justify-content: center;
}
.position.right {
  justify-content: flex-end;
}
/* Group 3 Styles */
/* Group 4 Styles */
/* Group 5 Styles */
/* Group 6 Styles */
/* Group 7 Styles */
/* Group 8 Styles */
