* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Prompt", "Segoe UI", Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: auto;

  /* background-color: rgb(255, 255, 255); */
}

/* ========= Header ========= */
.site-header {
  background-color: white;
  padding: 20px 0;
  border-bottom: 2px solid #007980;
}

.box-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headar-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.header-subtitle {
  font-weight: 400;
  font-size: 0.8rem;
  color: #777;
}

.social-icon a {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;

  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;

  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-icon a:hover {
  border: #0077ff;
  background-color: #0077ff;
  color: #fff;

  transform: translateY(-5px);
}


/* ========= Navbar ========= */

.main-nav {
  background-color: black;

}

.nav-menu {
  list-style: none;
  display: flex;

  flex-wrap: wrap;
  /* gap: 15px; */
}

.nav-menu li a {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;

  display: block;
  padding: 10px 15px;
}

.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: #007980;

}

/* ========= Hero Section ========= */

.hero-content {
  background-color: #aeaeae;
  padding: 35px 0;
  box-shadow: 0 4px 15px #aeaeae;
  margin-bottom: 30px;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);

  text-align: center;
  margin-bottom: 20px;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */

}

.hero-item {
  background-color: #6b6b6b;
  padding: 20px;
  border-radius: 15px;

  transition: all 0.3s ease;
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #00aaff;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: '→';
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}